.card {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 2.5rem;
  padding-top: 1em;
  padding-left: 1.5em;
}

.div__card {

  border: 1px solid #ccc;
  transition: transform 100ms ease;
  width: 290px;
  height: 13.8em;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  padding: 1.5rem;

}

.div__card:hover {
  transform: scale(1.03);
}

.card__title {
  font-size: 18px;
  color: #0F0F2D;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}

.card__list {
  border-top: 0.5px solid #e2e2e2b0;
  border-bottom: 0.5px solid #e2e2e2b0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  gap: 0.7em;
}

.card__item {
  display: grid;
  flex-direction: column;
  gap: 0.2em;
}

.card__value {
  color: #302F2F
}

.card__label {
  color: #C6C6C6;
}

.card__container__btn {
  display: flex;
  justify-content: right;
}

.card__btn__delete {
  background-color: #D85D5D;
  color: #FFFFFF;
  border: 0.8px solid #D93F3F;
  border-radius: 2.5px;
  font-size: 1.2em;
  margin-top: 8px;
  margin-right: 0.5em;
  transition: opacity 200ms ease,
    transform 200ms ease,
}

.card__btn__edit {
  background-color: #F6F6F6;
  color: #D3D3D3;
  border: 0.8px solid #BDBDBD;
  border-radius: 2.5px;
  font-size: 1.2em;
  margin-top: 8px;
  transition: opacity 200ms ease,
    transform 200ms ease,
}

.card__btn__edit:hover {
  opacity: 1;
  transform: scale(1.05);
}

.card__btn__delete:hover {
  opacity: 1;
  transform: scale(1.05);
}